In [1]:
import pandas as pd 
import os 
import numpy as np
import requests

In [2]:
path1 = "../Resources/tmdb_movies_list"

metadata = pd.read_csv(path1)

In [3]:
metadata

,id,imdb_id,Title,Genre,Plot,Poster
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",https://m.media-amazon.com/images/M/MV5BMWM5ZD...
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",https://m.media-amazon.com/images/M/MV5BMTgxOT...
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",https://m.media-amazon.com/images/M/MV5BNThmZG...
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,https://m.media-amazon.com/images/M/MV5BYTYxNG...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,https://m.media-amazon.com/images/M/MV5BMTY1NT...
...,...,...,...,...,...,...
410,31357,tt0114885,Waiting to Exhale,35,"Cheated on, mistreated and stepped on, the wom...",https://m.media-amazon.com/images/M/MV5BYzcyMD...
411,11862,tt0113041,Father of the Bride Part II,35,Just when George Banks has recovered from his ...,https://m.media-amazon.com/images/M/MV5BOTEyNz...
412,11860,tt0114319,Sabrina,35,An ugly duckling having undergone a remarkable...,https://m.media-amazon.com/images/M/MV5BYjQ5Zj...
413,45325,tt0112302,Tom and Huck,10751,"A mischievous young boy, Tom Sawyer, witnesses...",https://m.media-amazon.com/images/M/MV5BN2ZkZT...
414,9091,tt0114576,Sudden Death,28,When a man's daughter is suddenly taken during...,https://m.media-amazon.com/images/M/MV5BYWEyOD...

In [4]:
print(metadata["Poster"][0])

https://m.media-amazon.com/images/M/MV5BMWM5ZDcxMTYtNTEyNS00MDRkLWI3YTItNThmMGExMWY4NDIwXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg

In [5]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer
#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

def matrix_creation(element):
    
    #Replace NaN with an empty string
    metadata[element] = metadata[element].fillna('')

    #Construct the required TF-IDF matrix by fitting and transforming the data
    tfidf_matrix = tfidf.fit_transform(metadata[element])
    
    return tfidf_matrix

In [6]:
tfidf_matrix = tfidf.fit_transform(metadata["Plot"])

In [7]:
matrix_creation("Plot")

<415x4793 sparse matrix of type '<class 'numpy.float64'>'
	with 9889 stored elements in Compressed Sparse Row format>

In [8]:
indices = pd.Series(metadata.index, index = metadata["Title"])

indices.head()

Title
Toy Story 2       0
Toy Story 3       1
A Bug's Life      2
The Lion King     3
Monsters, Inc.    4
dtype: int64

In [9]:
metadata.index

RangeIndex(start=0, stop=415, step=1)

In [10]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics import ndcg_score

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [11]:
def get_recommendations(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    test = pd.DataFrame({"Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores, "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=False)
    
#     # Calculate relevance score 
#     movie_title_genre = list(metadata.loc[metadata["Title"] == title]["Genre"])[0].split(",")
#     movie_title_genre_list = [i.strip() for i in movie_title_genre]

#     relevance_score = []
    
#     # Loop through each row in the reccomendation and calculate relevance score 
#     for i in range(0,len(test)):
        
#         genre_list = [i.strip() for i in test["Genres"][i].split(",")]
# #         print(genre_list)
#         relevance_score.append(len([i.strip() for i in genre_list if i.strip() in movie_title_genre_list]))
    
#     # Add relevance score into dataframe
#     test["Relevance Score"] = relevance_score
    
    
#     # Calculate nDCG scores 
#     ideal_score = test["Relevance Score"].sort_values(ascending=False)
    
    
#     ideal_score = np.asarray([ideal_score])
#     relevance_score = np.asarray([relevance_score])
    
#     test_ndcg = ndcg_score(ideal_score, relevance_score)
#     ideal_ndcg = ndcg_score(ideal_score, ideal_score)
    
#     score_ndcg = test_ndcg/ideal_ndcg
#     print("Relevance nDCG:" + str(test_ndcg))
#     print("Ideal nDCG:" + str(ideal_ndcg))
#     print("nDCG score:" + str(score_ndcg))
    
    
#     print(relevance_list)
    # Return the top 10 most similar movies
    return test

In [12]:
get_recommendations('Toy Story', "Plot")

,index,Title,sim_score,Genres,Plot
0,1,Toy Story 3,"(1, 0.4413092014675202)","[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven..."
1,0,Toy Story 2,"(0, 0.4048855278066153)","[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy..."
2,188,The Devil Wears Prada,"(188, 0.0872188191560268)","[18, 35]",Andy moves to New York to work in the fashion ...
3,172,Maid in Manhattan,"(172, 0.07330163349721838)","[35, 18, 10749]",Marisa Ventura is a struggling single mom who ...
4,262,The Shawshank Redemption,"(262, 0.061588738303073653)","[18, 80]",Framed in the 1940s for the double murder of h...
5,395,My Life as a Zucchini,"(395, 0.04483799973747443)","[16, 35, 18, 10751, 10749]","After his motherâ€™s death, Zucchini is befriend..."
6,238,Northanger Abbey,"(238, 0.03819139451930406)","[10749, 18, 10770]",A young woman's penchant for sensational Gothi...
7,165,Dumb and Dumber,"(165, 0.03740323951757213)",[35],Lloyd and Harry are two men whose stupidity is...
8,285,101 Dalmatians,"(285, 0.03633226316573327)","[10751, 35]","An evil, high-fashion designer plots to steal ..."
9,205,The Bucket List,"(205, 0.03587873999098539)","[18, 35]",Corporate billionaire Edward Cole and working ...

In [13]:
#Set up url 

movie_tmdbid = 862
url = "https://api.themoviedb.org/3/movie/" + str(movie_tmdbid) + "/recommendations?language=en-US&page=1"

#Set up headers -- To be moved into .env for security purposes 
headers = {
"accept": "application/json",
"Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZTdjNTZkZTFkNjQxZWIyOGVhODRiNWRkODgzOTUxMCIsInN1YiI6IjY1Y2IyNzRmOGMzMTU5MDE3YzM5MGFlNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.i4FruSg4IDDl--CWmoNT3SUKtiqCgZm4O54CFZS2uzs"
}

response = requests.get(url, headers=headers).json()

In [14]:
movie_titles = []
for j in range(0,10):
        movie_titles.append(response['results'][j]['title'])

In [15]:
pd.DataFrame({"Title":movie_titles})

             Title
0      Toy Story 2
1      Toy Story 3
2     A Bug's Life
3    The Lion King
4   Monsters, Inc.
5  The Incredibles
6               Up
7     Finding Nemo
8            Se7en
9           WALLÂ·E

In the case of Toy Story, 

We only have 2 movies in the model recommendation list that are in the api recommendation list 

Therefore it would be a precision score of 2/10 = 0.2