In [1]:
# Importing libraries
import pandas as pd 
import os 
import numpy as np
import requests


#Load .env
from dotenv import load_dotenv

In [2]:
# Loading access keys 
load_dotenv()

API_KEY = os.getenv("API_KEY")

accept = os.getenv("accept")
Authorization = os.getenv("Authorization")

In [3]:
# Loading dataset from api
path1 = "../Resources/tmdb_movies_list"

metadata = pd.read_csv(path1)

In [4]:
metadata

,id,imdb_id,Title,Genre,Plot,Popularity,movie_rating_avg,Poster
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",111.148,7.591,https://m.media-amazon.com/images/M/MV5BMWM5ZD...
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",76.340,7.795,https://m.media-amazon.com/images/M/MV5BMTgxOT...
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",70.368,6.969,https://m.media-amazon.com/images/M/MV5BNThmZG...
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,102.851,8.257,https://m.media-amazon.com/images/M/MV5BYTYxNG...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,128.295,7.842,https://m.media-amazon.com/images/M/MV5BMTY1NT...
...,...,...,...,...,...,...,...,...
441,11861,tt0113347,How to Make an American Quilt,18,Soon-to-be-wed graduate student Finn Dodd deve...,19.315,6.400,https://m.media-amazon.com/images/M/MV5BNGYwZm...
442,8391,tt0114916,When Night Is Falling,18,A prudish woman working on tenure as a literac...,12.404,6.239,https://m.media-amazon.com/images/M/MV5BNGUxMD...
443,11448,tt0113819,Mighty Aphrodite,35,"When Lenny and his wife, Amanda, adopt a baby,...",15.684,6.722,https://m.media-amazon.com/images/M/MV5BMTZmNj...
444,49133,tt0110299,Lamerica,18,"Fiore, an Italian conman, arrives in post Comm...",8.535,7.200,https://m.media-amazon.com/images/M/MV5BNjlmZm...
445,26441,tt0112499,The Big Green,10751,"In a depressed Texas town, British foreign exc...",11.622,5.500,https://m.media-amazon.com/images/M/MV5BNmY4NW...

# Creating function to get recommendations

In [5]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

def matrix_creation(element):
    
    #Replace NaN with an empty string
    metadata[element] = metadata[element].fillna('')

    #Construct the required TF-IDF matrix by fitting and transforming the data
    tfidf_matrix = tfidf.fit_transform(metadata[element])
    
    return tfidf_matrix

In [6]:
tfidf_matrix = tfidf.fit_transform(metadata["Plot"])

In [7]:
matrix_creation("Plot")

<446x5043 sparse matrix of type '<class 'numpy.float64'>'
	with 10692 stored elements in Compressed Sparse Row format>

In [8]:
indices = pd.Series(metadata.index, index = metadata["Title"])

indices.head()

Title
Toy Story 2       0
Toy Story 3       1
A Bug's Life      2
The Lion King     3
Monsters, Inc.    4
dtype: int64

In [9]:
# Importing linear_kernel from sklearn
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics import ndcg_score

# Creating cosine similarity, to compare tfid matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix )

# Recommendation using cosine similarity

In [10]:
def get_recommendations(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    # Create tfidf_matrix
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    # Set up dataframe
    test = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], "Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores, "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=True)
    
    return tfidf_matrix.toarray()

# Testing recommendation function

In [11]:
get_recommendations('Toy Story', "Plot")

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [12]:
url = "https://api.themoviedb.org/3/movie/" + str(862) + "/recommendations?language=en-US&page=1"
    
headers = {
"accept": accept,
"Authorization": Authorization
}

#API request for recommendation
response = requests.get(url, headers=headers).json()

In [13]:
response

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/91qfG6VaxRsCh1SbIi1w2vxknsL.jpg',
   'id': 863,
   'title': 'Toy Story 2',
   'original_language': 'en',
   'original_title': 'Toy Story 2',
   'overview': "Andy heads off to Cowboy Camp, leaving his toys to their own devices. Things shift into high gear when an obsessive toy collector named Al McWhiggen, owner of Al's Toy Barn kidnaps Woody. Andy's toys mount a daring rescue mission, Buzz Lightyear meets his match and Woody has to decide where he and his heart truly belong.",
   'poster_path': '/2MFIhZAW0CVlEQrFyqwa4U6zqJP.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 35, 10751],
   'popularity': 111.148,
   'release_date': '1999-10-30',
   'video': False,
   'vote_average': 7.591,
   'vote_count': 13226},
  {'adult': False,
   'backdrop_path': '/uAfhsySkr1UzQg1zdg3dZQRz9Fd.jpg',
   'id': 10193,
   'title': 'Toy Story 3',
   'original_language': 'en',
   'original_title': 'Toy Story 3',
   'overview': "Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys must band together to escape and return home to Andy.",
   'poster_path': '/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 10751, 35],
   'popularity': 76.34,
   'release_date': '2010-06-16',
   'video': False,
   'vote_average': 7.795,
   'vote_count': 14071},
  {'adult': False,
   'backdrop_path': '/hwwFyowfcbLRVmRBOkvnABBNIOs.jpg',
   'id': 9487,
   'title': "A Bug's Life",
   'original_language': 'en',
   'original_title': "A Bug's Life",
   'overview': 'On behalf of "oppressed bugs everywhere," an inventive ant named Flik hires a troupe of warrior bugs to defend his bustling colony from a horde of freeloading grasshoppers led by the evil-minded Hopper.',
   'poster_path': '/Ah3J9OJVc2CNCuH2zMydXy9fmIC.jpg',
   'media_type': 'movie',
   'genre_ids': [12, 16, 35, 14, 10751],
   'popularity': 70.368,
   'release_date': '1998-11-25',
   'video': False,
   'vote_average': 6.969,
   'vote_count': 8736},
  {'adult': False,
   'backdrop_path': '/wXsQvli6tWqja51pYxXNG1LFIGV.jpg',
   'id': 8587,
   'title': 'The Lion King',
   'original_language': 'en',
   'original_title': 'The Lion King',
   'overview': 'A young lion prince is cast out of his pride by his cruel uncle, who claims he killed his father. While the uncle rules with an iron paw, the prince grows up beyond the Savannah, living by a philosophy: No worries for the rest of your days. But when his past comes to haunt him, the young prince must decide his fate: Will he remain an outcast or face his demons and become what he needs to be?',
   'poster_path': '/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg',
   'media_type': 'movie',
   'genre_ids': [10751, 16, 18],
   'popularity': 102.851,
   'release_date': '1994-06-24',
   'video': False,
   'vote_average': 8.257,
   'vote_count': 17440},
  {'adult': False,
   'backdrop_path': '/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg',
   'id': 585,
   'title': 'Monsters, Inc.',
   'original_language': 'en',
   'original_title': 'Monsters, Inc.',
   'overview': "Lovable Sulley and his wisecracking sidekick Mike Wazowski are the top scare team at Monsters, Inc., the scream-processing factory in Monstropolis. When a little girl named Boo wanders into their world, it's the monsters who are scared silly, and it's up to Sulley and Mike to keep her out of sight and get her back home.",
   'poster_path': '/wFSpyMsp7H0ttERbxY7Trlv8xry.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 35, 10751],
   'popularity': 128.295,
   'release_date': '2001-11-01',
   'video': False,
   'vote_average': 7.842,
   'vote_count': 17639},
  {'adult': False,
   'backdrop_path': '/se5Hxz7PArQZOG3Nx2bpfOhLhtV.jpg',
   'id': 9806,
   'title': 'The Incredibles',
   'original_language': 'en',
   'original_title': 'The Incredibles',
   'overview': "Bob Parr has given up his superhero days to log in time as an insurance adjuster and raise his three children with his formerly heroic wife in suburbia. But when he receives a mysterious assignment, it's time to get back into costume.",
   'poster_path': '/2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg',
   'media_type': 'movie',
   'genre_ids': [28, 12, 16, 10751],
   'popularity': 68.236,
   'release_date': '2004-10-27',
   'video': False,
   'vote_average': 7.703,
   'vote_count': 16951},
  {'adult': False,
   'backdrop_path': '/hGGC9gKo7CFE3fW07RA587e5kol.jpg',
   'id': 14160,
   'title': 'Up',
   'original_language': 'en',
   'original_title': 'Up',
   'overview': 'Carl Fredricksen spent his entire life dreaming of exploring the globe and experiencing life to its fullest. But at age 78, life seems to have passed him by, until a twist of fate (and a persistent 8-year old Wilderness Explorer named Russell) gives him a new lease on life.',
   'poster_path': '/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 35, 10751, 12],
   'popularity': 108.284,
   'release_date': '2009-05-28',
   'video': False,
   'vote_average': 7.955,
   'vote_count': 19346},
  {'adult': False,
   'backdrop_path': '/eCynaAOgYYiw5yN5lBwz3IxqvaW.jpg',
   'id': 12,
   'title': 'Finding Nemo',
   'original_language': 'en',
   'original_title': 'Finding Nemo',
   'overview': "Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.",
   'poster_path': '/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 10751],
   'popularity': 97.387,
   'release_date': '2003-05-30',
   'video': False,
   'vote_average': 7.823,
   'vote_count': 18461},
  {'adult': False,
   'backdrop_path': '/dYjZ27hDw2QFaEIfzbNGwW0IkV9.jpg',
   'id': 807,
   'title': 'Se7en',
   'original_language': 'en',
   'original_title': 'Se7en',
   'overview': 'Two homicide detectives are on a desperate hunt for a serial killer whose crimes are based on the "seven deadly sins" in this dark and haunting film that takes viewers from the tortured remains of one victim to the next. The seasoned Det. Sommerset researches each sin in an effort to get inside the killer\'s mind, while his novice partner, Mills, scoffs at his efforts to unravel the case.',
   'poster_path': '/6yoghtyTpznpBik8EngEmJskVUO.jpg',
   'media_type': 'movie',
   'genre_ids': [80, 9648, 53],
   'popularity': 75.727,
   'release_date': '1995-09-22',
   'video': False,
   'vote_average': 8.371,
   'vote_count': 20008},
  {'adult': False,
   'backdrop_path': '/fK5ssgvtI43z19FoWigdlqgpLRE.jpg',
   'id': 10681,
   'title': 'WALL·E',
   'original_language': 'en',
   'original_title': 'WALL·E',
   'overview': "What if mankind had to leave Earth and somebody forgot to turn the last robot off? After hundreds of years doing what he was built for, WALL•E discovers a new purpose in life when he meets a sleek search robot named EVE. EVE comes to realize that WALL•E has inadvertently stumbled upon the key to the planet's future, and races back to space to report to the humans. Meanwhile, WALL•E chases EVE across the galaxy and sets into motion one of the most imaginative adventures ever brought to the big screen.",
   'poster_path': '/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 10751, 878],
   'popularity': 83.889,
   'release_date': '2008-06-22',
   'video': False,
   'vote_average': 8.085,
   'vote_count': 17909},
  {'adult': False,
   'backdrop_path': '/qdIMHd4sEfJSckfVJfKQvisL02a.jpg',
   'id': 13,
   'title': 'Forrest Gump',
   'original_language': 'en',
   'original_title': 'Forrest Gump',
   'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
   'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg',
   'media_type': 'movie',
   'genre_ids': [35, 18, 10749],
   'popularity': 84.021,
   'release_date': '1994-06-23',
   'video': False,
   'vote_average': 8.477,
   'vote_count': 26176},
  {'adult': False,
   'backdrop_path': '/xgDj56UWyeWQcxQ44f5A3RTWuSs.jpg',
   'id': 2062,
   'title': 'Ratatouille',
   'original_language': 'en',
   'original_title': 'Ratatouille',
   'overview': "Remy, a resident of Paris, appreciates good food and has quite a sophisticated palate. He would love to become a chef so he can create and enjoy culinary masterpieces to his heart's delight. The only problem is, Remy is a rat. When he winds up in the sewer beneath one of Paris' finest restaurants, the rodent gourmet finds himself ideally placed to realize his dream.",
   'poster_path': '/t3vaWRPSf6WjDSamIkKDs1iQWna.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 35, 10751, 14],
   'popularity': 104.878,
   'release_date': '2007-06-28',
   'video': False,
   'vote_average': 7.815,
   'vote_count': 16180},
  {'adult': False,
   'backdrop_path': '/sRvXNDItGlWCqtO3j6wks52FmbD.jpg',
   'id': 808,
   'title': 'Shrek',
   'original_language': 'en',
   'original_title': 'Shrek',
   'overview': "It ain't easy bein' green -- especially if you're a likable (albeit smelly) ogre named Shrek. On a mission to retrieve a gorgeous princess from the clutches of a fire-breathing dragon, Shrek teams up with an unlikely compatriot -- a wisecracking donkey.",
   'poster_path': '/iB64vpL3dIObOtMZgX3RqdVdQDc.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 35, 14, 12, 10751],
   'popularity': 149.096,
   'release_date': '2001-05-18',
   'video': False,
   'vote_average': 7.735,
   'vote_count': 16242},
  {'adult': False,
   'backdrop_path': '/q62bpQ67qaXY0u6b2wFEnQYIbPd.jpg',
   'id': 301528,
   'title': 'Toy Story 4',
   'original_language': 'en',
   'original_title': 'Toy Story 4',
   'overview': 'Woody has always been confident about his place in the world and that his priority is taking care of his kid, whether that\'s Andy or Bonnie. But when Bonnie adds a reluctant new toy called "Forky" to her room, a road trip adventure alongside old and new friends will show Woody how big the world can be for a toy.',
   'poster_path': '/w9kR8qbmQ01HwnvK4alvnQ2ca0L.jpg',
   'media_type': 'movie',
   'genre_ids': [10751, 12, 16, 35, 14],
   'popularity': 76.761,
   'release_date': '2019-06-19',
   'video': False,
   'vote_average': 7.507,
   'vote_count': 9313},
  {'adult': False,
   'backdrop_path': '/d1RHScaZc7I8j0lDke1c4AxI435.jpg',
   'id': 9502,
   'title': 'Kung Fu Panda',
   'original_language': 'en',
   'original_title': 'Kung Fu Panda',
   'overview': 'When the Valley of Peace is threatened, lazy Po the panda discovers his destiny as the "chosen one" and trains to become a kung fu hero, but transforming the unsleek slacker into a brave warrior won\'t be easy. It\'s up to Master Shifu and the Furious Five -- Tigress, Crane, Mantis, Viper and Monkey -- to give it a try.',
   'poster_path': '/wWt4JYXTg5Wr3xBW2phBrMKgp3x.jpg',
   'media_type': 'movie',
   'genre_ids': [28, 12, 16, 10751, 35],
   'popularity': 118.885,
   'release_date': '2008-06-04',
   'video': False,
   'vote_average': 7.261,
   'vote_count': 10846},
  {'adult': False,
   'backdrop_path': '/usw8PMcbWqAtmABo2jO7KRRSrqi.jpg',
   'id': 6479,
   'title': 'I Am Legend',
   'original_language': 'en',
   'original_title': 'I Am Legend',
   'overview': 'Robert Neville is a scientist who was unable to stop the spread of the terrible virus that was incurable and man-made. Immune, Neville is now the last human survivor in what is left of New York City and perhaps the world. For three years, Neville has faithfully sent out daily radio messages, desperate to find any other survivors who might be out there. But he is not alone.',
   'poster_path': '/iPDkaSdKk2jRLTM65UOEoKtsIZ8.jpg',
   'media_type': 'movie',
   'genre_ids': [18, 878, 53],
   'popularity': 88.066,
   'release_date': '2007-12-12',
   'video': False,
   'vote_average': 7.201,
   'vote_count': 15063},
  {'adult': False,
   'backdrop_path': '/sd4xN5xi8tKRPrJOWwNiZEile7f.jpg',
   'id': 920,
   'title': 'Cars',
   'original_language': 'en',
   'original_title': 'Cars',
   'overview': "Lightning McQueen, a hotshot rookie race car driven to succeed, discovers that life is about the journey, not the finish line, when he finds himself unexpectedly detoured in the sleepy Route 66 town of Radiator Springs. On route across the country to the big Piston Cup Championship in California to compete against two seasoned pros, McQueen gets to know the town's offbeat characters.",
   'poster_path': '/abW5AzHDaIK1n9C36VdAeOwORRA.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 12, 35, 10751],
   'popularity': 77.518,
   'release_date': '2006-06-08',
   'video': False,
   'vote_average': 6.953,
   'vote_count': 13253},
  {'adult': False,
   'backdrop_path': '/bGksau9GGu0uJ8DJQ8DYc9JW5LM.jpg',
   'id': 77338,
   'title': 'The Intouchables',
   'original_language': 'fr',
   'original_title': 'Intouchables',
   'overview': 'A true story of two men who should never have met – a quadriplegic aristocrat who was injured in a paragliding accident and a young man from the projects.',
   'poster_path': '/1QU7HKgsQbGpzsJbJK4pAVQV9F5.jpg',
   'media_type': 'movie',
   'genre_ids': [18, 35],
   'popularity': 72.211,
   'release_date': '2011-11-02',
   'video': False,
   'vote_average': 8.28,
   'vote_count': 16552},
  {'adult': False,
   'backdrop_path': '/tupgjqhWx5oieQrdyesO3aclUX9.jpg',
   'id': 597,
   'title': 'Titanic',
   'original_language': 'en',
   'original_title': 'Titanic',
   'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.",
   'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg',
   'media_type': 'movie',
   'genre_ids': [18, 10749],
   'popularity': 140.447,
   'release_date': '1997-11-18',
   'video': False,
   'vote_average': 7.904,
   'vote_count': 24278},
  {'adult': False,
   'backdrop_path': '/pkxPkHOPJjOvzfQOclANEBT8OfK.jpg',
   'id': 675,
   'title': 'Harry Potter and the Order of the Phoenix',
   'original_language': 'en',
   'original_title': 'Harry Potter and the Order of the Phoenix',
   'overview': 'Returning for his fifth year of study at Hogwarts, Harry is stunned to find that his warnings about the return of Lord Voldemort have been ignored. Left with no choice, Harry takes matters into his own hands, training a small group of students to defend themselves against the dark arts.',
   'poster_path': '/5aOyriWkPec0zUDxmHFP9qMmBaj.jpg',
   'media_type': 'movie',
   'genre_ids': [12, 14],
   'popularity': 133.783,
   'release_date': '2007-07-08',
   'video': False,
   'vote_average': 7.682,
   'vote_count': 18661},
  {'adult': False,
   'backdrop_path': '/j29ekbcLpBvxnGk6LjdTc2EI5SA.jpg',
   'id': 150540,
   'title': 'Inside Out',
   'original_language': 'en',
   'original_title': 'Inside Out',
   'overview': "Growing up can be a bumpy road, and it's no exception for Riley, who is uprooted from her Midwest life when her father starts a new job in San Francisco. Riley's guiding emotions— Joy, Fear, Anger, Disgust and Sadness—live in Headquarters, the control centre inside Riley's mind, where they help advise her through everyday life and tries to keep things positive, but the emotions conflict on how best to navigate a new city, house and school.",
   'poster_path': '/2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg',
   'media_type': 'movie',
   'genre_ids': [16, 10751, 12, 18, 35],
   'popularity': 151.701,
   'release_date': '2015-06-09',
   'video': False,
   'vote_average': 7.918,
   'vote_count': 20015}],
 'total_pages': 2,
 'total_results': 40}

# Re-writing recommendation function to also display accuracy

In [14]:
def get_accuracy(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    test = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], "Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores, "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=True)
    
    #Set up api request 
    movie_ID = metadata.loc[metadata["Title"] == title]["id"].values[0]
    print("This is movie_ID:" + str(movie_ID))
    
    url = "https://api.themoviedb.org/3/movie/" + str(movie_ID) + "/recommendations?language=en-US&page=1"
    
    headers = {
        "accept": accept,
        "Authorization": Authorization
    }
    
    #API request for recommendation
    response = requests.get(url, headers=headers).json()


    #Set up list to store api recommendation
    movie_titles = []
    for j in range(0,10):
        movie_titles.append(response["results"][j]['title'])
    
    test1 = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], 
                          "Title":metadata['Title'].iloc[movie_indices],
                          "Genres":metadata['Genre'].iloc[movie_indices],
                          "API_Rec_Titles":movie_titles})
    test_3 = [i for i in list(test1["Title"]) if i in list(test1["API_Rec_Titles"])]
    test_4 = len(test_3)/10
 
    relevance_score = len([i for i in list(test1["Title"]) if i in test1["API_Rec_Titles"]])
    
    # Add relevance score into dataframe
#     test1["Relevance Score"] = relevance_score
#     print(test1)
    print("Precision at 10: " + str(test_4))
    return test1

# Recommendation using Plot

#### Calculation of overall precision @k for plot column 

0.2 + 0.4 + 0.1 + 0.0 + 0.1 + 0.0 + 0.1 + 0.1 +0.7 + 0.0 = 1.7/10

Overall precision at k(10) = 0.17 precision

In [15]:
 get_accuracy('Toy Story', "Plot")

This is movie_ID:862
Precision at 10: 0.2

,movie_id,Title,Genres,API_Rec_Titles
1,10193,Toy Story 3,"[16, 10751, 35]",Toy Story 2
0,863,Toy Story 2,"[16, 35, 10751]",Toy Story 3
188,350,The Devil Wears Prada,"[18, 35]",A Bug's Life
172,7303,Maid in Manhattan,"[35, 18, 10749]",The Lion King
262,278,The Shawshank Redemption,"[18, 80]","Monsters, Inc."
419,5,Four Rooms,35,The Incredibles
395,393559,My Life as a Zucchini,"[16, 35, 18, 10751, 10749]",Up
238,18093,Northanger Abbey,"[10749, 18, 10770]",Finding Nemo
165,8467,Dumb and Dumber,[35],Se7en
285,11674,101 Dalmatians,"[10751, 35]",WALL·E

In [16]:
 get_accuracy('Jumanji', "Plot")

This is movie_ID:8844
Precision at 10: 0.4

,movie_id,Title,Genres,API_Rec_Titles
10,353486,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Jumanji: Welcome to the Jungle
339,257344,Pixels,"[28, 35, 878]",Night at the Museum
91,36557,Casino Royale,"[12, 28, 53]",Zathura: A Space Adventure
414,9091,Sudden Death,28,Mrs. Doubtfire
15,512200,Jumanji: The Next Level,"[12, 35, 14]",Jurassic Park
17,879,Hook,"[12, 14, 35, 10751]",Jumanji: The Next Level
12,6795,Zathura: A Space Adventure,"[878, 12, 10751]",Toy Story
249,1272,Sunshine,"[18, 878, 53]",Hook
176,1091,The Thing,"[27, 9648, 878]",Good Will Hunting
373,44113,Stone,"[18, 53]",Home Alone

In [17]:
 get_accuracy('Grumpier Old Men', "Plot")

This is movie_ID:15602
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
20,11520,Grumpy Old Men,[35],Grumpy Old Men
52,1538,Collateral,"[18, 80, 53]",Toy Story
114,15789,A Goofy Movie,"[10749, 16, 10751, 35, 12]",Splash
163,1624,Liar Liar,[35],The Exorcist
139,1598,Cape Fear,"[80, 53]",It
57,6620,Sabrina,"[35, 10749, 18]",Marriage Italian Style
213,726209,Leave the World Behind,"[18, 9648, 53, 878]",The Devil's Advocate
322,25468,My Dinner with Andre,[18],Anaconda
360,101,Léon: The Professional,"[80, 18, 28]",Some Like It Hot
39,11846,Father of the Bride,"[35, 10749]",I.Q.

In [18]:
 get_accuracy('Waiting to Exhale', "Plot")

This is movie_ID:31357
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
27,239,Some Like It Hot,"[35, 10749, 80]",John Wick
18,489,Good Will Hunting,[18],Venom
104,8005,Robin Hood: Men in Tights,[35],Mean Girls
312,723745,Fight!,[16],The Bodyguard
294,20048,Confessions of a Shopaholic,"[35, 10749]",Downsizing
157,241,Natural Born Killers,"[80, 53, 18]",The Virgin Suicides
333,504608,Rocketman,"[10402, 18]",A Beautiful Mind
321,1541,Thelma & Louise,"[18, 53, 80, 12]",Bad Boys
110,10897,The Little Rascals,"[10749, 35, 10751]",Fatherhood
61,6068,Six Days Seven Nights,"[35, 28, 12, 10749]",To Wong Foo

In [19]:
 get_accuracy('Father of the Bride Part II', "Plot")

This is movie_ID:11862
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
39,11846,Father of the Bride,"[35, 10749]",Father of the Bride
327,4133,Blow,"[80, 18]",Cheaper by the Dozen
398,418879,The Current War,"[18, 36]",A Few Good Men
239,45269,The King's Speech,"[18, 36]",Mad Money
31,10625,Mean Girls,[35],First Knight
376,8874,My Best Friend's Wedding,"[35, 10749]",Inception
5,9806,The Incredibles,"[28, 12, 16, 10751]",The Social Network
288,275,Fargo,"[80, 18, 53]",Suicide Squad
412,11860,Sabrina,35,Big Hero 6
414,9091,Sudden Death,28,Home Alone

In [20]:
 get_accuracy('Heat', "Plot")

This is movie_ID:949
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
60,75656,Now You See Me,"[53, 80]",Casino
255,337674,Elle,"[18, 53]",Scarface
187,102899,Ant-Man,"[878, 28, 12]",Donnie Brasco
414,9091,Sudden Death,28,Se7en
67,22582,Tom and Jerry: The Movie,"[10751, 16, 35]",Taxi Driver
245,782,Gattaca,"[53, 878, 9648, 10749]",Collateral
196,2636,The Specialist,"[28, 53]",GoodFellas
221,795,City of Angels,"[10749, 18, 14]",L.A. Confidential
10,353486,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Kill Bill: Vol. 2
339,257344,Pixels,"[28, 35, 878]",The Untouchables

In [21]:
 get_accuracy('Tom and Huck', "Plot")

This is movie_ID:45325
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
68,5769,Tom Jones,"[12, 35, 10749]",Tom and Jerry: The Movie
65,4477,The Devil's Own,"[80, 53, 18]",Tom Jones
40,11007,Cheaper by the Dozen,"[35, 10751]",Insidious
441,11861,How to Make an American Quilt,18,The Parent Trap
155,6,Judgment Night,"[28, 80, 53]",District 9
369,10895,Pinocchio,"[16, 10751]",A Dog's Purpose
223,118,Charlie and the Chocolate Factory,"[12, 35, 10751, 14]",Back to the Future
357,451,Leaving Las Vegas,"[18, 10749]",The Accountant
327,4133,Blow,"[80, 18]",Tarzan
349,22881,The Blind Side,[18],Oliver & Company

In [22]:
 get_accuracy('Sudden Death', "Plot")

This is movie_ID:9091
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
10,353486,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Timecop
339,257344,Pixels,"[28, 35, 878]",Hard Target
130,8844,Jumanji,"[12, 14, 10751]",Last Action Hero
15,512200,Jumanji: The Next Level,"[12, 35, 14]",The Quest
91,36557,Casino Royale,"[12, 28, 53]",Double Team
138,949,Heat,"[28, 80, 18]",Double Impact
381,670,Oldboy,"[18, 53, 9648, 28]",Universal Soldier
81,9405,Double Team,"[28, 878]",Street Fighter
268,10395,Wolf,"[14, 18, 27, 10749]",Maximum Risk
151,11036,The Notebook,"[10749, 18]",Avatar

In [23]:
 get_accuracy('GoldenEye', "Plot")

This is movie_ID:710
Precision at 10: 0.7

,movie_id,Title,Genres,API_Rec_Titles
90,36669,Die Another Day,"[12, 28, 53]",Tomorrow Never Dies
93,646,Dr. No,"[12, 28, 53]",Goldfinger
94,206647,Spectre,"[28, 12, 53]",The World Is Not Enough
92,709,Licence to Kill,"[12, 28, 53]",Die Another Day
89,36643,The World Is Not Enough,"[12, 28, 53]",Casino Royale
91,36557,Casino Royale,"[12, 28, 53]",Licence to Kill
87,714,Tomorrow Never Dies,"[12, 28, 53]",Dr. No
125,607,Men in Black,"[28, 12, 35, 878]",Spectre
298,112949,Safe Haven,"[10749, 53]",Rocky
440,577,To Die For,18,Toy Story

In [24]:
 get_accuracy('The Shawshank Redemption', "Plot")

This is movie_ID:278
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
203,9972,Lock Up,"[28, 80]",The Godfather
186,8077,Alien³,"[878, 28, 27]",Schindler's List
1,10193,Toy Story 3,"[16, 10751, 35]",The Dark Knight
136,293863,The Age of Adaline,"[10749, 14, 18]",Pulp Fiction
367,10144,The Little Mermaid,"[16, 10751, 14]",The Godfather Part II
123,4347,Atonement,"[18, 10749]",Fight Club
105,36593,Naked Gun 33⅓: The Final Insult,"[35, 80]",Forrest Gump
287,6075,Carlito's Way,"[80, 18, 10749, 53]",The Green Mile
329,341013,Atomic Blonde,"[28, 53]",The Silence of the Lambs
188,350,The Devil Wears Prada,"[18, 35]",Spirited Away

# Combinning genre and plot together into one column

In [25]:
metadata.head()

,id,imdb_id,Title,Genre,Plot,Popularity,movie_rating_avg,Poster
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",111.148,7.591,https://m.media-amazon.com/images/M/MV5BMWM5ZD...
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",76.340,7.795,https://m.media-amazon.com/images/M/MV5BMTgxOT...
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",70.368,6.969,https://m.media-amazon.com/images/M/MV5BNThmZG...
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,102.851,8.257,https://m.media-amazon.com/images/M/MV5BYTYxNG...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,128.295,7.842,https://m.media-amazon.com/images/M/MV5BMTY1NT...

In [26]:
metadata['genre_plot'] = metadata['Genre'].apply(lambda x: x.strip("[]"))

In [27]:
metadata["genre_plot"] = metadata["genre_plot"] + " " + metadata["Plot"]

In [28]:
metadata.head()

,id,imdb_id,Title,Genre,Plot,Popularity,movie_rating_avg,Poster,genre_plot
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",111.148,7.591,https://m.media-amazon.com/images/M/MV5BMWM5ZD...,"16, 35, 10751 Andy heads off to Cowboy Camp, l..."
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",76.340,7.795,https://m.media-amazon.com/images/M/MV5BMTgxOT...,"16, 10751, 35 Woody, Buzz, and the rest of And..."
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",70.368,6.969,https://m.media-amazon.com/images/M/MV5BNThmZG...,"12, 16, 35, 14, 10751 On behalf of ""oppressed ..."
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,102.851,8.257,https://m.media-amazon.com/images/M/MV5BYTYxNG...,"10751, 16, 18 A young lion prince is cast out ..."
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,128.295,7.842,https://m.media-amazon.com/images/M/MV5BMTY1NT...,"16, 35, 10751 Lovable Sulley and his wisecrack..."

# Recommendation model using genre_plot

#### Calculation of overall precision @k for genre_plot column 

0.2 + 0.4 + 0.1 + 0.0 + 0.1 + 0.0 + 0.1 + 0.1 +0.7 + 0.0 = 1.7/10

Overall precision at k(10) = 0.17 precision

In [29]:
get_accuracy('Toy Story', "genre_plot")

This is movie_ID:862
Precision at 10: 0.2

,movie_id,Title,Genres,API_Rec_Titles
1,10193,Toy Story 3,"[16, 10751, 35]",Toy Story 2
0,863,Toy Story 2,"[16, 35, 10751]",Toy Story 3
188,350,The Devil Wears Prada,"[18, 35]",A Bug's Life
172,7303,Maid in Manhattan,"[35, 18, 10749]",The Lion King
395,393559,My Life as a Zucchini,"[16, 35, 18, 10751, 10749]","Monsters, Inc."
262,278,The Shawshank Redemption,"[18, 80]",The Incredibles
366,10674,Mulan,"[16, 10751, 12]",Up
419,5,Four Rooms,35,Finding Nemo
223,118,Charlie and the Chocolate Factory,"[12, 35, 10751, 14]",Se7en
113,3170,Bambi,"[16, 18, 10751]",WALL·E

In [30]:
get_accuracy('Jumanji', "genre_plot")

This is movie_ID:8844
Precision at 10: 0.4

,movie_id,Title,Genres,API_Rec_Titles
10,353486,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Jumanji: Welcome to the Jungle
339,257344,Pixels,"[28, 35, 878]",Night at the Museum
15,512200,Jumanji: The Next Level,"[12, 35, 14]",Zathura: A Space Adventure
91,36557,Casino Royale,"[12, 28, 53]",Mrs. Doubtfire
414,9091,Sudden Death,28,Jurassic Park
17,879,Hook,"[12, 14, 35, 10751]",Jumanji: The Next Level
12,6795,Zathura: A Space Adventure,"[878, 12, 10751]",Toy Story
249,1272,Sunshine,"[18, 878, 53]",Hook
182,129,Spirited Away,"[16, 10751, 14]",Good Will Hunting
176,1091,The Thing,"[27, 9648, 878]",Home Alone

In [31]:
get_accuracy('Grumpier Old Men', "genre_plot")

This is movie_ID:15602
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
20,11520,Grumpy Old Men,[35],Grumpy Old Men
52,1538,Collateral,"[18, 80, 53]",Toy Story
114,15789,A Goofy Movie,"[10749, 16, 10751, 35, 12]",Splash
163,1624,Liar Liar,[35],The Exorcist
139,1598,Cape Fear,"[80, 53]",It
57,6620,Sabrina,"[35, 10749, 18]",Marriage Italian Style
39,11846,Father of the Bride,"[35, 10749]",The Devil's Advocate
360,101,Léon: The Professional,"[80, 18, 28]",Anaconda
322,25468,My Dinner with Andre,[18],Some Like It Hot
213,726209,Leave the World Behind,"[18, 9648, 53, 878]",I.Q.

In [32]:
get_accuracy('Waiting to Exhale', "genre_plot")

This is movie_ID:31357
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
27,239,Some Like It Hot,"[35, 10749, 80]",John Wick
18,489,Good Will Hunting,[18],Venom
104,8005,Robin Hood: Men in Tights,[35],Mean Girls
294,20048,Confessions of a Shopaholic,"[35, 10749]",The Bodyguard
110,10897,The Little Rascals,"[10749, 35, 10751]",Downsizing
312,723745,Fight!,[16],The Virgin Suicides
157,241,Natural Born Killers,"[80, 53, 18]",A Beautiful Mind
333,504608,Rocketman,"[10402, 18]",Bad Boys
321,1541,Thelma & Louise,"[18, 53, 80, 12]",Fatherhood
61,6068,Six Days Seven Nights,"[35, 28, 12, 10749]",To Wong Foo

In [33]:
get_accuracy('Father of the Bride Part II', "genre_plot")

This is movie_ID:11862
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
39,11846,Father of the Bride,"[35, 10749]",Father of the Bride
327,4133,Blow,"[80, 18]",Cheaper by the Dozen
398,418879,The Current War,"[18, 36]",A Few Good Men
239,45269,The King's Speech,"[18, 36]",Mad Money
31,10625,Mean Girls,[35],First Knight
376,8874,My Best Friend's Wedding,"[35, 10749]",Inception
412,11860,Sabrina,35,The Social Network
5,9806,The Incredibles,"[28, 12, 16, 10751]",Suicide Squad
288,275,Fargo,"[80, 18, 53]",Big Hero 6
414,9091,Sudden Death,28,Home Alone

In [34]:
get_accuracy('Heat', "genre_plot")

This is movie_ID:949
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
60,75656,Now You See Me,"[53, 80]",Casino
255,337674,Elle,"[18, 53]",Scarface
187,102899,Ant-Man,"[878, 28, 12]",Donnie Brasco
414,9091,Sudden Death,28,Se7en
67,22582,Tom and Jerry: The Movie,"[10751, 16, 35]",Taxi Driver
196,2636,The Specialist,"[28, 53]",Collateral
245,782,Gattaca,"[53, 878, 9648, 10749]",GoodFellas
221,795,City of Angels,"[10749, 18, 14]",L.A. Confidential
339,257344,Pixels,"[28, 35, 878]",Kill Bill: Vol. 2
193,287947,Shazam!,"[28, 35, 14]",The Untouchables

In [35]:
get_accuracy('Tom and Huck', "genre_plot")

This is movie_ID:45325
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
68,5769,Tom Jones,"[12, 35, 10749]",Tom and Jerry: The Movie
65,4477,The Devil's Own,"[80, 53, 18]",Tom Jones
40,11007,Cheaper by the Dozen,"[35, 10751]",Insidious
441,11861,How to Make an American Quilt,18,The Parent Trap
155,6,Judgment Night,"[28, 80, 53]",District 9
369,10895,Pinocchio,"[16, 10751]",A Dog's Purpose
223,118,Charlie and the Chocolate Factory,"[12, 35, 10751, 14]",Back to the Future
357,451,Leaving Las Vegas,"[18, 10749]",The Accountant
327,4133,Blow,"[80, 18]",Tarzan
349,22881,The Blind Side,[18],Oliver & Company

In [36]:
get_accuracy('Sudden Death', "genre_plot")

This is movie_ID:9091
Precision at 10: 0.1

,movie_id,Title,Genres,API_Rec_Titles
339,257344,Pixels,"[28, 35, 878]",Timecop
10,353486,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Hard Target
130,8844,Jumanji,"[12, 14, 10751]",Last Action Hero
91,36557,Casino Royale,"[12, 28, 53]",The Quest
15,512200,Jumanji: The Next Level,"[12, 35, 14]",Double Team
138,949,Heat,"[28, 80, 18]",Double Impact
381,670,Oldboy,"[18, 53, 9648, 28]",Universal Soldier
81,9405,Double Team,"[28, 878]",Street Fighter
418,1408,Cutthroat Island,28,Maximum Risk
268,10395,Wolf,"[14, 18, 27, 10749]",Avatar

In [37]:
get_accuracy('GoldenEye', "genre_plot")

This is movie_ID:710
Precision at 10: 0.7

,movie_id,Title,Genres,API_Rec_Titles
90,36669,Die Another Day,"[12, 28, 53]",Tomorrow Never Dies
93,646,Dr. No,"[12, 28, 53]",Goldfinger
94,206647,Spectre,"[28, 12, 53]",The World Is Not Enough
92,709,Licence to Kill,"[12, 28, 53]",Die Another Day
89,36643,The World Is Not Enough,"[12, 28, 53]",Casino Royale
91,36557,Casino Royale,"[12, 28, 53]",Licence to Kill
87,714,Tomorrow Never Dies,"[12, 28, 53]",Dr. No
125,607,Men in Black,"[28, 12, 35, 878]",Spectre
341,13051,Max Payne,"[80, 28, 18, 53]",Rocky
298,112949,Safe Haven,"[10749, 53]",Toy Story

In [38]:
get_accuracy('The Shawshank Redemption', "genre_plot")

This is movie_ID:278
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
203,9972,Lock Up,"[28, 80]",The Godfather
186,8077,Alien³,"[878, 28, 27]",Schindler's List
136,293863,The Age of Adaline,"[10749, 14, 18]",The Dark Knight
1,10193,Toy Story 3,"[16, 10751, 35]",Pulp Fiction
287,6075,Carlito's Way,"[80, 18, 10749, 53]",The Godfather Part II
105,36593,Naked Gun 33⅓: The Final Insult,"[35, 80]",Fight Club
123,4347,Atonement,"[18, 10749]",Forrest Gump
367,10144,The Little Mermaid,"[16, 10751, 14]",The Green Mile
188,350,The Devil Wears Prada,"[18, 35]",The Silence of the Lambs
202,819,Sleepers,"[80, 18, 53]",Spirited Away

# Recommendation using Genre

#### Calculation of overall precision @k for Genre column 

0.0 + 0.2 + 0.0 + 0.1 + 0.0 + 0.2 + 0.1 + 0.1 +0.7 + 0.0 = 1.4/10

Overall precision at k(10) = 0.14 precision

In [39]:
get_accuracy('Toy Story', "Genre")

This is movie_ID:862
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
16,862,Toy Story,"[16, 12, 10751, 35]",Toy Story 2
316,46195,Rio,"[16, 12, 35, 10751]",Toy Story 3
317,4978,An American Tail,"[35, 12, 18, 10751, 16]",A Bug's Life
408,150540,Inside Out,"[16, 10751, 12, 18, 35]",The Lion King
112,25913,Balto II: Wolf Quest,"[10751, 16, 12]","Monsters, Inc."
116,34942,Balto III: Wings of Change,"[10751, 12, 16]",The Incredibles
118,12144,The Land Before Time,"[10751, 16, 12]",Up
280,21032,Balto,"[10751, 16, 12]",Finding Nemo
366,10674,Mulan,"[16, 10751, 12]",Se7en
47,177572,Big Hero 6,"[12, 10751, 16, 28, 35]",WALL·E

In [40]:
get_accuracy('Jumanji', "Genre")

This is movie_ID:8844
Precision at 10: 0.2

,movie_id,Title,Genres,API_Rec_Titles
17,879,Hook,"[12, 14, 35, 10751]",Jumanji: Welcome to the Jungle
223,118,Charlie and the Chocolate Factory,"[12, 35, 10751, 14]",Night at the Museum
281,10137,Stuart Little,"[10751, 14, 35, 12]",Zathura: A Space Adventure
72,381289,A Dog's Purpose,"[12, 35, 14, 10751, 18]",Mrs. Doubtfire
278,9447,Babe: Pig in the City,"[12, 35, 18, 10751, 14]",Jurassic Park
11,1593,Night at the Museum,"[28, 12, 35, 10751, 14]",Jumanji: The Next Level
79,9593,Last Action Hero,"[12, 14, 28, 35, 10751]",Toy Story
330,2493,The Princess Bride,"[12, 10751, 14, 35, 10749]",Hook
2,9487,A Bug's Life,"[12, 16, 35, 14, 10751]",Good Will Hunting
115,8839,Casper,"[14, 35, 10751]",Home Alone

In [41]:
get_accuracy('Grumpier Old Men', "Genre")

This is movie_ID:15602
Precision at 10: 0.0

     movie_id                  Title       Genres          API_Rec_Titles
34       1443    The Virgin Suicides  [18, 10749]          Grumpy Old Men
35        453       A Beautiful Mind  [18, 10749]               Toy Story
64       2288                 Closer  [18, 10749]                  Splash
123      4347              Atonement  [18, 10749]            The Exorcist
143      4348      Pride & Prejudice  [18, 10749]                      It
144     38684              Jane Eyre  [18, 10749]  Marriage Italian Style
145      2977          Becoming Jane  [10749, 18]    The Devil's Advocate
151     11036           The Notebook  [10749, 18]                Anaconda
237      4584  Sense and Sensibility  [18, 10749]        Some Like It Hot
240       153    Lost in Translation  [18, 10749]                    I.Q.

In [42]:
get_accuracy('Waiting to Exhale', "Genre")

This is movie_ID:31357
Precision at 10: 0.1

     movie_id                      Title Genres       API_Rec_Titles
31      10625                 Mean Girls   [35]            John Wick
104      8005  Robin Hood: Men in Tights   [35]                Venom
106     30197              The Producers   [35]           Mean Girls
108      3034         Young Frankenstein   [35]        The Bodyguard
163      1624                  Liar Liar   [35]           Downsizing
165      8467            Dumb and Dumber   [35]  The Virgin Suicides
167      2123         Me, Myself & Irene   [35]     A Beautiful Mind
191     11566                       Dave   [35]             Bad Boys
218      1621             Trading Places   [35]           Fatherhood
283     52449                Bad Teacher   [35]          To Wong Foo

In [43]:
get_accuracy('Father of the Bride Part II', "Genre")

This is movie_ID:11862
Precision at 10: 0.0

     movie_id                      Title Genres        API_Rec_Titles
31      10625                 Mean Girls   [35]   Father of the Bride
104      8005  Robin Hood: Men in Tights   [35]  Cheaper by the Dozen
106     30197              The Producers   [35]        A Few Good Men
108      3034         Young Frankenstein   [35]             Mad Money
163      1624                  Liar Liar   [35]          First Knight
165      8467            Dumb and Dumber   [35]             Inception
167      2123         Me, Myself & Irene   [35]    The Social Network
191     11566                       Dave   [35]         Suicide Squad
218      1621             Trading Places   [35]            Big Hero 6
283     52449                Bad Teacher   [35]            Home Alone

In [44]:
get_accuracy('Heat', "Genre")

This is movie_ID:949
Precision at 10: 0.2

,movie_id,Title,Genres,API_Rec_Titles
138,949,Heat,"[28, 80, 18]",Casino
360,101,Léon: The Professional,"[80, 18, 28]",Scarface
203,9972,Lock Up,"[28, 80]",Donnie Brasco
82,9594,Double Impact,"[53, 28, 80, 18]",Se7en
174,9869,Patriot Games,"[18, 28, 53, 80]",Taxi Driver
244,155,The Dark Knight,"[18, 28, 80, 53]",Collateral
341,13051,Max Payne,"[80, 28, 18, 53]",GoodFellas
51,103,Taxi Driver,"[80, 18]",L.A. Confidential
53,769,GoodFellas,"[18, 80]",Kill Bill: Vol. 2
142,311,Once Upon a Time in America,"[18, 80]",The Untouchables

In [45]:
get_accuracy('Tom and Huck', "Genre")

This is movie_ID:45325
Precision at 10: 0.1

     movie_id                 Title           Genres            API_Rec_Titles
445     26441         The Big Green            10751  Tom and Jerry: The Movie
19        771            Home Alone      [35, 10751]                 Tom Jones
40      11007  Cheaper by the Dozen      [35, 10751]                 Insidious
70       9820       The Parent Trap      [35, 10751]           The Parent Trap
285     11674        101 Dalmatians      [10751, 35]                District 9
295     54004     Passport to Paris      [35, 10751]           A Dog's Purpose
13        788        Mrs. Doubtfire  [35, 18, 10751]        Back to the Future
201      9279    Jingle All the Way  [10751, 35, 12]            The Accountant
7          12          Finding Nemo      [16, 10751]                    Tarzan
119     13700     Home on the Range      [16, 10751]          Oliver & Company

In [46]:
get_accuracy('Sudden Death', "Genre")

This is movie_ID:9091
Precision at 10: 0.1

     movie_id             Title    Genres     API_Rec_Titles
418      1408  Cutthroat Island        28            Timecop
421     11517       Money Train        28        Hard Target
424      9691         Assassins        28   Last Action Hero
438     11443   Dead Presidents        28          The Quest
189    480530          Creed II  [18, 28]        Double Team
403     96721              Rush  [18, 28]      Double Impact
29     245891         John Wick  [28, 53]  Universal Soldier
85      10861      Maximum Risk  [28, 53]     Street Fighter
135      1573        Die Hard 2  [28, 53]       Maximum Risk
156      1991       Death Proof  [28, 53]             Avatar

In [47]:
get_accuracy('GoldenEye', "Genre")

This is movie_ID:710
Precision at 10: 0.7

     movie_id                    Title        Genres           API_Rec_Titles
88        658               Goldfinger  [12, 28, 53]      Tomorrow Never Dies
89      36643  The World Is Not Enough  [12, 28, 53]               Goldfinger
90      36669          Die Another Day  [12, 28, 53]  The World Is Not Enough
91      36557            Casino Royale  [12, 28, 53]          Die Another Day
92        709          Licence to Kill  [12, 28, 53]            Casino Royale
93        646                   Dr. No  [12, 28, 53]          Licence to Kill
94     206647                  Spectre  [28, 12, 53]                   Dr. No
171     10538             Passenger 57  [28, 12, 53]                  Spectre
219      9802                 The Rock  [28, 12, 53]                    Rocky
402       710                GoldenEye  [12, 28, 53]                Toy Story

In [48]:
get_accuracy('The Shawshank Redemption', "Genre")

This is movie_ID:278
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
53,769,GoodFellas,"[18, 80]",The Godfather
142,311,Once Upon a Time in America,"[18, 80]",Schindler's List
262,278,The Shawshank Redemption,"[18, 80]",The Dark Knight
265,9344,Kids,"[18, 80]",Pulp Fiction
266,1646,Freedom Writers,"[80, 18]",The Godfather Part II
327,4133,Blow,"[80, 18]",Fight Club
355,359156,Don't Be Bad,"[80, 18]",Forrest Gump
122,106646,The Wolf of Wall Street,"[80, 18, 35]",The Green Mile
242,8321,In Bruges,"[35, 18, 80]",The Silence of the Lambs
420,9273,Ace Ventura: When Nature Calls,80,Spirited Away

# Recommendation using SGFClassifier

## Doesnt recommend items yet

In [57]:
from sklearn.model_selection import train_test_split
X = metadata.Plot
X_tfidf = tfidf.fit_transform(X)

In [64]:
# create target
y = metadata.movie_rating_avg
y=y.astype('int')


# split the dataset for training and testing
X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, y, test_size=0.5, random_state=42
)

In [65]:
X_train.shape

(223, 5043)

In [66]:
y_train.shape

(223,)

In [67]:
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import classification_report

# Training classifier model 
clf = SGDClassifier()
clf.fit(X_train, y_train)

# model validation
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           3       0.00      0.00      0.00         1
           4       0.00      0.00      0.00         2
           5       1.00      0.06      0.11        18
           6       0.39      0.32      0.36        93
           7       0.39      0.62      0.48        88
           8       0.25      0.05      0.08        21

    accuracy                           0.39       223
   macro avg       0.34      0.18      0.17       223
weighted avg       0.42      0.39      0.35       223

/Users/petertram/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/petertram/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/petertram/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Recommendation using NearestNeighbors

In [305]:
from sklearn.neighbors import NearestNeighbors

In [306]:
tfidf_matrix = matrix_creation("Plot")

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Get the pairwsie similarity scores of all movies with that movie
sim_scores = list(enumerate(cosine_sim[0]))

# Sort the movies based on the similarity scores
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

In [307]:
# print(sim_scores[1:])

second_elements = [x[1] for x in sim_scores]

In [308]:
# 
X = metadata.Plot
X_tfidf = tfidf.fit_transform(X)

In [151]:
y = second_elements

In [166]:
X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, y, test_size=0.90, random_state=42
)

In [167]:
neigh = NearestNeighbors(n_neighbors=2, radius=0.4)
neigh.fit(X_train)

NearestNeighbors(n_neighbors=2, radius=0.4)

In [168]:
neigh.kneighbors(X_tfidf[0], 10, return_distance=False)

array([[37, 17, 20, 36, 30, 42,  3,  7,  9, 35]])

In [169]:
X_test[0]

<1x5043 sparse matrix of type '<class 'numpy.float64'>'
	with 35 stored elements in Compressed Sparse Row format>

In [170]:
metadata.iloc[201].Title

'Jingle All the Way'

In [171]:
for i in range(0, len(neigh.kneighbors(X_test[1], 10, return_distance=False)[0])):
#     print(neigh.kneighbors(X_test[0], 10, return_distance=False)[0][i])
    print(metadata.iloc[neigh.kneighbors(X_tfidf[0], 10, return_distance=False)[0][i]].Title)

Fatherhood
Hook
Grumpy Old Men
Bad Boys
Venom
Mad Money
The Lion King
Finding Nemo
WALL·E
A Beautiful Mind

In [95]:
neigh.kneighbors(X_test[0], 10, return_distance=False)[0][2]

210

In [272]:
def nearest_neigh_model_genre(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Take the cosine similarity scores of all the movies 
    second_elements = [x[1] for x in sim_scores]
    
    # Set up tfidf on the plot column 
    X = metadata.Genre
    X_tfidf = tfidf.fit_transform(X)
    
    # Use the cosine similarity score as y
    y = second_elements
    
    X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, y, test_size=0.5, random_state=42
    )
    
    neigh = NearestNeighbors(n_neighbors=2, radius=0.4)
    neigh.fit(X_tfidf)
    
    movie_indices = []
    for i in neigh.kneighbors(X_tfidf[idx], 11, return_distance=False)[0][1:]:
        movie_indices.append(i)
    
    
    test = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], "Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores[0:10], "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=True)
    
    ##### API SET UP #####
    
    #Set up api request 
    movie_ID = metadata.loc[metadata["Title"] == title]["id"].values[0]
    print("This is movie_ID:" + str(movie_ID))
    
    url = "https://api.themoviedb.org/3/movie/" + str(movie_ID) + "/recommendations?language=en-US&page=1"
    
    headers = {
        "accept": accept,
        "Authorization": Authorization
    }
    
    #API request for recommendation
    response = requests.get(url, headers=headers).json()


    #Set up list to store api recommendation
    movie_titles = []
    for j in range(0,10):
        movie_titles.append(response["results"][j]['title'])
    
    # Data frame creation
    test1 = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], 
                          "Title":metadata['Title'].iloc[movie_indices],
                          "Genres":metadata['Genre'].iloc[movie_indices],
                          "API_Rec_Titles":movie_titles})
    test_3 = [i for i in list(test1["Title"]) if i in list(test1["API_Rec_Titles"])]
    test_4 = len(test_3)/10
 
    relevance_score = len([i for i in list(test1["Title"]) if i in test1["API_Rec_Titles"]])
    
    # Add relevance score into dataframe
#     test1["Relevance Score"] = relevance_score
#     print(test1)
    print("Precision at 10: " + str(test_4))
    return test1

In [273]:
def nearest_neigh_model_plot(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Take the cosine similarity scores of all the movies 
    second_elements = [x[1] for x in sim_scores]
    
    # Set up tfidf on the plot column 
    X = metadata.Plot
    X_tfidf = tfidf.fit_transform(X)
    
    # Use the cosine similarity score as y
    y = second_elements
    
    X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, y, test_size=0.5, random_state=42
    )
    
    neigh = NearestNeighbors(n_neighbors=2, radius=0.4)
    neigh.fit(X_tfidf)
    
    movie_indices = []
    for i in neigh.kneighbors(X_tfidf[idx], 11, return_distance=False)[0][1:]:
        movie_indices.append(i)
    
    
    test = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], "Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores[0:10], "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=True)
    
    ##### API SET UP #####
    
    #Set up api request 
    movie_ID = metadata.loc[metadata["Title"] == title]["id"].values[0]
    print("This is movie_ID:" + str(movie_ID))
    
    url = "https://api.themoviedb.org/3/movie/" + str(movie_ID) + "/recommendations?language=en-US&page=1"
    
    headers = {
        "accept": accept,
        "Authorization": Authorization
    }
    
    #API request for recommendation
    response = requests.get(url, headers=headers).json()


    #Set up list to store api recommendation
    movie_titles = []
    for j in range(0,10):
        movie_titles.append(response["results"][j]['title'])
    
    # Data frame creation
    test1 = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], 
                          "Title":metadata['Title'].iloc[movie_indices],
                          "Genres":metadata['Genre'].iloc[movie_indices],
                          "API_Rec_Titles":movie_titles})
    test_3 = [i for i in list(test1["Title"]) if i in list(test1["API_Rec_Titles"])]
    test_4 = len(test_3)/10
 
    relevance_score = len([i for i in list(test1["Title"]) if i in test1["API_Rec_Titles"]])
    
    # Add relevance score into dataframe
#     test1["Relevance Score"] = relevance_score
#     print(test1)
    print("Precision at 10: " + str(test_4))
    return test1

In [286]:
def nearest_neigh_model_both(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Take the cosine similarity scores of all the movies 
    second_elements = [x[1] for x in sim_scores]
    
    # Set up tfidf on the plot column 
    X = metadata.genre_plot
    X_tfidf = tfidf.fit_transform(X)
    
    neigh = NearestNeighbors(n_neighbors=2, radius=0.4)
    neigh.fit(X_tfidf)
    
    movie_indices = []
    for i in neigh.kneighbors(X_tfidf[idx], 11, return_distance=False)[0][1:]:
        movie_indices.append(i)
    
    
    test = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], "Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores[0:10], "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=True)
    
    ##### API SET UP #####
    
    #Set up api request 
    movie_ID = metadata.loc[metadata["Title"] == title]["id"].values[0]
    print("This is movie_ID:" + str(movie_ID))
    
    url = "https://api.themoviedb.org/3/movie/" + str(movie_ID) + "/recommendations?language=en-US&page=1"
    
    headers = {
        "accept": accept,
        "Authorization": Authorization
    }
    
    #API request for recommendation
    response = requests.get(url, headers=headers).json()


    #Set up list to store api recommendation
    movie_titles = []
    for j in range(0,10):
        movie_titles.append(response["results"][j]['title'])
    
    # Data frame creation
    test1 = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], 
                          "Title":metadata['Title'].iloc[movie_indices],
                          "Genres":metadata['Genre'].iloc[movie_indices],
                          "API_Rec_Titles":movie_titles})
    test_3 = [i for i in list(test1["Title"]) if i in list(test1["API_Rec_Titles"])]
    test_4 = len(test_3)/10
 
    relevance_score = len([i for i in list(test1["Title"]) if i in test1["API_Rec_Titles"]])
    
    # Add relevance score into dataframe
#     test1["Relevance Score"] = relevance_score
#     print(test1)
    print("Precision at 10: " + str(test_4))
    return test1

In [287]:
nearest_neigh_model_genre('Toy Story', "Genre")
nearest_neigh_model_genre('Jumanji', "Genre")
nearest_neigh_model_genre('Grumpier Old Men', "Genre")
nearest_neigh_model_genre('Waiting to Exhale', "Genre")
nearest_neigh_model_genre('Father of the Bride Part II', "Genre")
nearest_neigh_model_genre('Tom and Huck', "Genre")
nearest_neigh_model_genre('Sudden Death', "Genre")
nearest_neigh_model_genre('GoldenEye', "Genre")
nearest_neigh_model_genre('The Shawshank Redemption', "Genre")

This is movie_ID:862
Precision at 10: 0.0
This is movie_ID:8844
Precision at 10: 0.2
This is movie_ID:15602
Precision at 10: 0.0
This is movie_ID:31357
Precision at 10: 0.1
This is movie_ID:11862
Precision at 10: 0.0
This is movie_ID:45325
Precision at 10: 0.1
This is movie_ID:9091
Precision at 10: 0.1
This is movie_ID:710
Precision at 10: 0.7
This is movie_ID:278
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
53,769,GoodFellas,"[18, 80]",The Godfather
266,1646,Freedom Writers,"[80, 18]",Schindler's List
51,103,Taxi Driver,"[80, 18]",The Dark Knight
262,278,The Shawshank Redemption,"[18, 80]",Pulp Fiction
355,359156,Don't Be Bad,"[80, 18]",The Godfather Part II
265,9344,Kids,"[18, 80]",Fight Club
327,4133,Blow,"[80, 18]",Forrest Gump
122,106646,The Wolf of Wall Street,"[80, 18, 35]",The Green Mile
242,8321,In Bruges,"[35, 18, 80]",The Silence of the Lambs
420,9273,Ace Ventura: When Nature Calls,80,Spirited Away

In [288]:
print("Precision at 10 overall" + " " + str((0.0 + 0.2 + 0.0 + 0.1 + 0.0 + 0.1 + 0.1 + 0.7 + 0.0)/10))

Precision at 10 overall 0.12

In [289]:
nearest_neigh_model_plot('Toy Story', "Plot")
nearest_neigh_model_plot('Jumanji', "Plot")
nearest_neigh_model_plot('Grumpier Old Men', "Plot")
nearest_neigh_model_plot('Waiting to Exhale', "Plot")
nearest_neigh_model_plot('Father of the Bride Part II', "Plot")
nearest_neigh_model_plot('Tom and Huck', "Plot")
nearest_neigh_model_plot('Sudden Death', "Plot")
nearest_neigh_model_plot('GoldenEye', "Plot")
nearest_neigh_model_plot('The Shawshank Redemption', "Plot")

This is movie_ID:862
Precision at 10: 0.2
This is movie_ID:8844
Precision at 10: 0.4
This is movie_ID:15602
Precision at 10: 0.1
This is movie_ID:31357
Precision at 10: 0.0
This is movie_ID:11862
Precision at 10: 0.1
This is movie_ID:45325
Precision at 10: 0.1
This is movie_ID:9091
Precision at 10: 0.1
This is movie_ID:710
Precision at 10: 0.7
This is movie_ID:278
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
203,9972,Lock Up,"[28, 80]",The Godfather
186,8077,Alien³,"[878, 28, 27]",Schindler's List
1,10193,Toy Story 3,"[16, 10751, 35]",The Dark Knight
136,293863,The Age of Adaline,"[10749, 14, 18]",Pulp Fiction
367,10144,The Little Mermaid,"[16, 10751, 14]",The Godfather Part II
123,4347,Atonement,"[18, 10749]",Fight Club
105,36593,Naked Gun 33⅓: The Final Insult,"[35, 80]",Forrest Gump
287,6075,Carlito's Way,"[80, 18, 10749, 53]",The Green Mile
329,341013,Atomic Blonde,"[28, 53]",The Silence of the Lambs
188,350,The Devil Wears Prada,"[18, 35]",Spirited Away

In [290]:
print("Precision at 10 overall" + " " + str((0.2 + 0.4 + 0.1 + 0.0 + 0.1 + 0.1 + 0.1 + 0.7 + 0.0)/10))

Precision at 10 overall 0.16999999999999998

In [291]:
nearest_neigh_model_both('Toy Story', "genre_plot")
nearest_neigh_model_both('Jumanji', "genre_plot")
nearest_neigh_model_both('Grumpier Old Men', "genre_plot")
nearest_neigh_model_both('Waiting to Exhale', "genre_plot")
nearest_neigh_model_both('Father of the Bride Part II', "genre_plot")
nearest_neigh_model_both('Tom and Huck', "genre_plot")
nearest_neigh_model_both('Sudden Death', "genre_plot")
nearest_neigh_model_both('GoldenEye', "genre_plot")
nearest_neigh_model_both('The Shawshank Redemption', "genre_plot")

This is movie_ID:862
Precision at 10: 0.2
This is movie_ID:8844
Precision at 10: 0.4
This is movie_ID:15602
Precision at 10: 0.1
This is movie_ID:31357
Precision at 10: 0.0
This is movie_ID:11862
Precision at 10: 0.1
This is movie_ID:45325
Precision at 10: 0.1
This is movie_ID:9091
Precision at 10: 0.1
This is movie_ID:710
Precision at 10: 0.7
This is movie_ID:278
Precision at 10: 0.0

,movie_id,Title,Genres,API_Rec_Titles
203,9972,Lock Up,"[28, 80]",The Godfather
186,8077,Alien³,"[878, 28, 27]",Schindler's List
136,293863,The Age of Adaline,"[10749, 14, 18]",The Dark Knight
1,10193,Toy Story 3,"[16, 10751, 35]",Pulp Fiction
287,6075,Carlito's Way,"[80, 18, 10749, 53]",The Godfather Part II
105,36593,Naked Gun 33⅓: The Final Insult,"[35, 80]",Fight Club
123,4347,Atonement,"[18, 10749]",Forrest Gump
367,10144,The Little Mermaid,"[16, 10751, 14]",The Green Mile
188,350,The Devil Wears Prada,"[18, 35]",The Silence of the Lambs
202,819,Sleepers,"[80, 18, 53]",Spirited Away

In [292]:
print("Precision at 10 overall" + " " + str((0.2 + 0.4 + 0.1 + 0.0 + 0.1 + 0.1 + 0.1 + 0.7 + 0.0)/10))

Precision at 10 overall 0.16999999999999998

In [303]:
def nearest_neigh_model_both_train(title, element, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    tfidf_matrix = matrix_creation(element)
    
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Take the cosine similarity scores of all the movies 
    second_elements = [x[1] for x in sim_scores]
    
    # Set up tfidf on the plot column 
    X = metadata.genre_plot
    X_tfidf = tfidf.fit_transform(X)
    
    X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, y, test_size=0.8, random_state=42
    )
    
    neigh = NearestNeighbors(n_neighbors=2, radius=0.4)
    neigh.fit(X_train)
    
    movie_indices = []
    for i in neigh.kneighbors(X_tfidf[idx], 11, return_distance=False)[0][1:]:
        movie_indices.append(i)
    
    
    test = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], "Title":metadata['Title'].iloc[movie_indices], "sim_score": sim_scores[0:10], "Genres":metadata['Genre'].iloc[movie_indices], "Plot":metadata['Plot'].iloc[movie_indices]}).reset_index(drop=True)
    
    ##### API SET UP #####
    
    #Set up api request 
    movie_ID = metadata.loc[metadata["Title"] == title]["id"].values[0]
    print("This is movie_ID:" + str(movie_ID))
    
    url = "https://api.themoviedb.org/3/movie/" + str(movie_ID) + "/recommendations?language=en-US&page=1"
    
    headers = {
        "accept": accept,
        "Authorization": Authorization
    }
    
    #API request for recommendation
    response = requests.get(url, headers=headers).json()


    #Set up list to store api recommendation
    movie_titles = []
    api_genres = []
    for j in range(0,10):
        movie_titles.append(response["results"][j]['title'])
        api_genres.append(response["results"][j]["genre_ids"])
    
    # Data frame creation
    test1 = pd.DataFrame({"movie_id":metadata["id"].iloc[movie_indices], 
                          "Title":metadata['Title'].iloc[movie_indices],
                          "Genres":metadata['Genre'].iloc[movie_indices],
                          "API_Rec_Titles":movie_titles,
                         "API_genre": api_genres})
    test_3 = [i for i in list(test1["Title"]) if i in list(test1["API_Rec_Titles"])]
    test_4 = len(test_3)/10
 
    relevance_score = len([i for i in list(test1["Title"]) if i in test1["API_Rec_Titles"]])
    
    # Add relevance score into dataframe
#     test1["Relevance Score"] = relevance_score
#     print(test1)
    print("Precision at 10: " + str(test_4))
    return test1

In [304]:

nearest_neigh_model_both_train('Jumanji', "genre_plot")
nearest_neigh_model_both_train('Grumpier Old Men', "genre_plot")
nearest_neigh_model_both_train('Waiting to Exhale', "genre_plot")
nearest_neigh_model_both_train('Father of the Bride Part II', "genre_plot")
nearest_neigh_model_both_train('Tom and Huck', "genre_plot")
nearest_neigh_model_both_train('Sudden Death', "genre_plot")
nearest_neigh_model_both_train('GoldenEye', "genre_plot")
nearest_neigh_model_both_train('The Shawshank Redemption', "genre_plot")
nearest_neigh_model_both_train('Toy Story', "genre_plot")

This is movie_ID:8844
Precision at 10: 0.0
This is movie_ID:15602
Precision at 10: 0.1
This is movie_ID:31357
Precision at 10: 0.1
This is movie_ID:11862
Precision at 10: 0.0
This is movie_ID:45325
Precision at 10: 0.0
This is movie_ID:9091
Precision at 10: 0.1
This is movie_ID:710
Precision at 10: 0.0
This is movie_ID:278
Precision at 10: 0.0
This is movie_ID:862
Precision at 10: 0.2

,movie_id,Title,Genres,API_Rec_Titles,API_genre
82,9594,Double Impact,"[53, 28, 80, 18]",Toy Story 2,"[16, 35, 10751]"
25,1813,The Devil's Advocate,"[18, 9648, 53, 27]",Toy Story 3,"[16, 10751, 35]"
22,9552,The Exorcist,"[27, 53, 18]",A Bug's Life,"[12, 16, 35, 14, 10751]"
5,9806,The Incredibles,"[28, 12, 16, 10751]",The Lion King,"[10751, 16, 18]"
71,17654,District 9,[878],"Monsters, Inc.","[16, 35, 10751]"
33,301337,Downsizing,"[18, 878]",The Incredibles,"[28, 12, 16, 10751]"
47,177572,Big Hero 6,"[12, 10751, 16, 28, 35]",Up,"[16, 35, 10751, 12]"
88,658,Goldfinger,"[12, 28, 53]",Finding Nemo,"[16, 10751]"
86,19995,Avatar,"[28, 12, 14, 878]",Se7en,"[80, 9648, 53]"
1,10193,Toy Story 3,"[16, 10751, 35]",WALL·E,"[16, 10751, 878]"