In [1]:
# Importing libraries 
import os 
import pandas as pd 
import requests

from dotenv import load_dotenv

In [2]:
path1 = "../ml-latest-small/ratings.csv"
path2 = "../ml-latest-small/movies.csv"
path3 = "../ml-latest-small/links.csv"

In [3]:
movies_df = pd.read_csv(path2)
movies_df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
links_df =  pd.read_csv(path3)

links_df.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

# Get a list of all the tmbdID

In [5]:
# Check links_df info
links_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [6]:
# Delete row with null values
links_df = links_df.dropna()

In [7]:
# Convert float to int
links_list = links_df["tmdbId"].astype(int)

In [8]:
links_list.head()
links_list[0]

862

In [9]:
import pprint

In [10]:
# Set up API call for recommendation of the first 10 movies in links_df
import requests

url = "https://api.themoviedb.org/3/movie/862/recommendations?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZTdjNTZkZTFkNjQxZWIyOGVhODRiNWRkODgzOTUxMCIsInN1YiI6IjY1Y2IyNzRmOGMzMTU5MDE3YzM5MGFlNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.i4FruSg4IDDl--CWmoNT3SUKtiqCgZm4O54CFZS2uzs"
}

response = requests.get(url, headers=headers).json()

print(response['results'][1])

{'adult': False, 'backdrop_path': '/uAfhsySkr1UzQg1zdg3dZQRz9Fd.jpg', 'id': 10193, 'title': 'Toy Story 3', 'original_language': 'en', 'original_title': 'Toy Story 3', 'overview': "Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys must band together to escape and return home to Andy.", 'poster_path': '/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg', 'media_type': 'movie', 'genre_ids': [16, 10751, 35], 'popularity': 72.753, 'release_date': '2010-06-16', 'video': False, 'vote_average': 7.795, 'vote_count': 14060}

In [11]:
movie_titles = []
movie_id = []
movie_plot = []
movie_poster = []
movie_genre = []
# Get recommendations for the first 10 movies from the api 
for i in range(0,50):
    movie_tmdbid = links_list[i]
    
    #Set up url 
    url = "https://api.themoviedb.org/3/movie/" + str(movie_tmdbid) + "/recommendations?language=en-US&page=1"
    
    #Set up headers -- To be moved into .env for security purposes 
    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZTdjNTZkZTFkNjQxZWIyOGVhODRiNWRkODgzOTUxMCIsInN1YiI6IjY1Y2IyNzRmOGMzMTU5MDE3YzM5MGFlNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.i4FruSg4IDDl--CWmoNT3SUKtiqCgZm4O54CFZS2uzs"
    }
    
    response = requests.get(url, headers=headers).json()
    for j in range(0,10):
        movie_titles.append(response['results'][j]['title'])
        movie_id.append(response['results'][j]['id'])
        movie_plot.append(response['results'][j]['overview'])
        movie_poster.append(response['results'][j]['poster_path'])
        movie_genre.append(response['results'][j]['genre_ids'])

In [12]:
for i in range(0,10):
    movie_tmdbid = links_list[i]
    
    #Set up url 
    url = "https://api.themoviedb.org/3/movie/" + str(movie_tmdbid) + "?language=en-US"
    

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZTdjNTZkZTFkNjQxZWIyOGVhODRiNWRkODgzOTUxMCIsInN1YiI6IjY1Y2IyNzRmOGMzMTU5MDE3YzM5MGFlNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.i4FruSg4IDDl--CWmoNT3SUKtiqCgZm4O54CFZS2uzs"
    }

    response = requests.get(url, headers=headers).json()
#     print(response)
    movie_titles.append(response['title'])
    movie_id.append(response['id'])
    movie_plot.append(response['overview'])
    movie_poster.append(response['poster_path'])
    movie_genre.append(response['genres'][0]['id'])

In [13]:
test = pd.DataFrame({"id":movie_id,"Title":movie_titles,"Genre":movie_genre,"Plot":movie_plot,"Poster":movie_poster})

In [14]:
test.head()

,id,Title,Genre,Plot,Poster
0,863,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",/2MFIhZAW0CVlEQrFyqwa4U6zqJP.jpg
1,10193,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg
2,9487,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",/Ah3J9OJVc2CNCuH2zMydXy9fmIC.jpg
3,8587,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg
4,585,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,/wFSpyMsp7H0ttERbxY7Trlv8xry.jpg

In [15]:
len(test)

510

In [16]:
test["id"].duplicated().any()

True

In [17]:
test = test.drop_duplicates(subset = ["id"])

In [18]:
len(test)

419

In [19]:
test.head(50)

,id,Title,Genre,Plot,Poster
0,863,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",/2MFIhZAW0CVlEQrFyqwa4U6zqJP.jpg
1,10193,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg
2,9487,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",/Ah3J9OJVc2CNCuH2zMydXy9fmIC.jpg
3,8587,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg
4,585,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,/wFSpyMsp7H0ttERbxY7Trlv8xry.jpg
5,9806,The Incredibles,"[28, 12, 16, 10751]",Bob Parr has given up his superhero days to lo...,/2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg
6,14160,Up,"[16, 35, 10751, 12]",Carl Fredricksen spent his entire life dreamin...,/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg
7,12,Finding Nemo,"[16, 10751]","Nemo, an adventurous young clownfish, is unexp...",/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg
8,807,Se7en,"[80, 9648, 53]",Two homicide detectives are on a desperate hun...,/6yoghtyTpznpBik8EngEmJskVUO.jpg
9,10681,WALL·E,"[16, 10751, 878]",What if mankind had to leave Earth and somebod...,/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg
10,353486,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Four teenagers in detention discover an old vi...,/pSgXKPU5h6U89ipF7HBYajvYt7j.jpg
11,1593,Night at the Museum,"[28, 12, 35, 10751, 14]",Chaos reigns at the natural history museum whe...,/uY9k8t2FQkMj60obnAnsPKLxHCE.jpg
12,6795,Zathura: A Space Adventure,"[878, 12, 10751]","After their father is called into work, two yo...",/gDb5BW2NLqZ9cvg9nyzkZVvmgze.jpg
13,788,Mrs. Doubtfire,"[35, 18, 10751]","Loving but irresponsible dad Daniel Hillard, e...",/shHrSmXS5140o6sQzgzXxn3KqSm.jpg
14,329,Jurassic Park,"[12, 878]",A wealthy entrepreneur secretly creates a them...,/oU7Oq2kFAAlGqbU4VoAE36g4hoI.jpg
15,512200,Jumanji: The Next Level,"[12, 35, 14]",As the gang return to Jumanji to rescue one of...,/jyw8VKYEiM1UDzPB7NsisUgBeJ8.jpg
16,862,Toy Story,"[16, 12, 10751, 35]","Led by Woody, Andy's toys live happily in his ...",/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
17,879,Hook,"[12, 14, 35, 10751]",The boy who wasn't supposed to grow up—Peter P...,/a6rB1lGXoGms7gWxRfJneQmAjNV.jpg
18,489,Good Will Hunting,[18],Will Hunting has a genius-level IQ but chooses...,/bABCBKYBK7A5G1x0FzoeoNfuj2.jpg
19,771,Home Alone,"[35, 10751]",Eight-year-old Kevin McCallister makes the mos...,/onTSipZ8R3bliBdKfPtsDuHTdlL.jpg
20,11520,Grumpy Old Men,[35],"For decades, next-door neighbors and former fr...",/iMY7yFn4gMvGaQYMGWnyX2QgvHZ.jpg
22,2619,Splash,"[35, 10749, 14]",A successful businessman falls in love with th...,/7FutTsMWBwVhjk1Ujf1wtndUVZh.jpg
23,9552,The Exorcist,"[27, 53, 18]",When a charming 12-year-old girl takes on the ...,/5x0CeVHJI8tcDx8tUUwYHQSNILq.jpg
24,346364,It,[27],"In a small town in Maine, seven children known...",/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg
25,49687,Marriage Italian Style,"[18, 35, 10749]",When Domenico first meets Filomena in Naples d...,/1VVQFXwr4i6QSAoPnCs9UmGTUVw.jpg
26,1813,The Devil's Advocate,"[18, 9648, 53, 27]",Aspiring Florida defense lawyer Kevin Lomax ac...,/5ZzBGpxy55OQzHxKVY11IpY6a0o.jpg
27,9360,Anaconda,"[12, 27, 53]","A ""National Geographic"" film crew is taken hos...",/1G3tE98K1dtsVzSgpevzboKEyXK.jpg
28,239,Some Like It Hot,"[35, 10749, 80]",Two musicians witness a mob hit and struggle t...,/hVIKyTK13AvOGv7ICmJjK44DTzp.jpg
29,11777,I.Q.,"[35, 18, 10749]",Albert Einstein helps a young man who's in lov...,/1dLR9LX4O8DSyaU5OR3N0472IR.jpg
30,245891,John Wick,"[28, 53]",Ex-hitman John Wick comes out of retirement to...,/fZPSd91yGE9fCcCe6OoQr6E3Bev.jpg
31,335983,Venom,"[878, 28]",Investigative journalist Eddie Brock attempts ...,/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg
32,10625,Mean Girls,[35],"Cady Heron is a hit with The Plastics, the A-l...",/2ZkuQXvVhh45uSvkBej4S7Ix1NJ.jpg
33,619,The Bodyguard,"[28, 18, 10749]",A former Secret Service agent grudgingly takes...,/9XfwOFcJ3Bz1gh3aD6xaeM58B0e.jpg
34,301337,Downsizing,"[18, 878]",A kindly occupational therapist undergoes a ne...,/5bNzInSSAXfr0MFlHfb4IoQePVx.jpg
35,1443,The Virgin Suicides,"[18, 10749]",A group of male friends become obsessed with f...,/1NCQtXPQnaHRjOZVmktA9BSM35F.jpg
36,453,A Beautiful Mind,"[18, 10749]","In a decades-spanning biopic, brilliant mathem...",/zwzWCmH72OSC9NA0ipoqw5Zjya8.jpg
37,9737,Bad Boys,"[28, 35, 80, 53]",Marcus Burnett is a henpecked family man. Mike...,/qKiLKvJaT6rRmd3IBsoVV58luXH.jpg
38,607259,Fatherhood,"[18, 35]","A widowed new dad copes with doubts, fears, he...",/pR2fzm82fl0giommpo310LBOMbV.jpg
39,9090,To Wong Foo,"[35, 18]",A cross country trip to Hollywood is cut short...,/8bkJiI6N8wDxAtQ49bLUt0qCBII.jpg
40,11846,Father of the Bride,"[35, 10749]","George Banks is an ordinary, middle-class man ...",/g6OTK7l6EX2JP5r00O5fG6BZJlh.jpg
41,11007,Cheaper by the Dozen,"[35, 10751]",The Baker brood moves to Chicago after patriar...,/afclGGoQslTYFTnyW1LRMtJMiBp.jpg
42,881,A Few Good Men,[18],When cocky military lawyer Lt. Daniel Kaffee a...,/rLOk4z9zL1tTukIYV56P94aZXKk.jpg
43,12085,Mad Money,"[28, 35, 80]",Three female employees of the Federal Reserve ...,/le0r7Hf7YOy3QFdOoYXRI29T1mW.jpg
44,6520,First Knight,"[28, 12, 18, 10749]",The timeless tale of King Arthur and the legen...,/xuXkCcrvUTkehVXuTGpnfySsx0Z.jpg
45,27205,Inception,"[28, 878, 12]","Cobb, a skilled thief who commits corporate es...",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
46,37799,The Social Network,[18],"In 2003, Harvard undergrad and computer genius...",/n0ybibhJtQ5icDqTp8eRytcIHJx.jpg
47,297761,Suicide Squad,"[28, 12, 14]","From DC Comics comes the Suicide Squad, an ant...",/xFw9RXKZDvevAGocgBK0zteto4U.jpg
48,177572,Big Hero 6,"[12, 10751, 16, 28, 35]",A special bond develops between plus-sized inf...,/2mxS4wUimwlLmI1xp6QW6NSU361.jpg
50,524,Casino,"[80, 18, 36]","In early-1970s Las Vegas, Sam ""Ace"" Rothstein ...",/4TS5O1IP42bY2BvgMxL156EENy.jpg
51,111,Scarface,"[28, 80, 18]",After getting a green card in exchange for ass...,/iQ5ztdjvteGeboxtmRdXEChJOHh.jpg

In [22]:
outname = 'tmdb_movies_list'

outdir = '../Resources'
if not os.path.exists(outdir):
    os.mkdir(outdir)

fullname = os.path.join(outdir, outname)    

test.to_csv(fullname, index= False)